# GROUP — Private Network Muhit Sozlamalari
PORT=3000
NODE_ENV=production
JWT_SECRET=super_secret_jwt_key_group_2026_xyz
ENCRYPTION_KEY=your_32_byte_aes_encryption_key_here

# Telegram Bepul Cheksiz Bulutli Xotira & Bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=
